In [1]:
import pandas as pd

In [4]:
import pandas as pd
print("This is 'wide' data, unsuitable as-is for Plotly Express:")
wide_df = pd.DataFrame(dict(Month=["Jan", "Feb", "Mar"], London=[1,2,3], Paris=[3,1,2]))
wide_df

This is 'wide' data, unsuitable as-is for Plotly Express:

  Month  London  Paris
0   Jan       1      3
1   Feb       2      1
2   Mar       3      2

In [3]:
import pandas as pd
print("This is the same data in 'long' format, ready for Plotly Express:")
wide_df = pd.DataFrame(dict(Month=["Jan", "Feb", "Mar"], London=[1,2,3], Paris=[3,1,2]))
tidy_df = wide_df.melt(id_vars="Month")
print(tidy_df)

This is the same data in 'long' format, ready for Plotly Express:
  Month variable  value
0   Jan   London      1
1   Feb   London      2
2   Mar   London      3
3   Jan    Paris      3
4   Feb    Paris      1
5   Mar    Paris      2